body{
    margin: 0px;
    max-width: 100%;
    background-color: #f5f2f0;
}
p, h1, h2, h3{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
#item1{
    background-color: #f5f2f0;
    width: 100vw;
    height: 100vh;
    background-position: 50% 37%;
}

#item1 img{
    width: 99vw;
}
#item1 h1{
    font-size: 55px;
    padding-bottom: 20px;
}
#item1-main {
    background-color: white;
    height: 30vh;
    width: 40vw;
    position: absolute;
    top: 50vh;
    left: 5vw;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.579);
    border-radius: 10px;
    padding: 40px 32px 40px 32px;

}
#item2{
    padding-top: 60vh;
    padding-left: 20vw;
    padding-right: 20vw;
    background-color: #f5f2f0;
    width: 60vw;
    height: auto;
    margin-bottom: 50px;
}
#item2 h2, #item3 h2, #item4 h2{
    color: #DE6528;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}
#item2 h3{
    margin-top: 10px;
    margin-bottom: 10px;
}
#item2 input{
    font-family: 'Montserrat', sans-serif;
}
#check-button{
    align-content: center;
    align-items: center;
    position: absolute;
    left: calc(50vw - 30px);
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    border-color: #DE6528;
    background-color: #DE6528;
    color: white;
    z-index: 10000;
}
#item3{
    padding-top: 50px;
    width: 100vw;
    height: auto;
    background-color: #f5f2f0;
    position: relative;
}
#item3 h2{
    display: block;
    width: 100vw;
}
#item3-main{
    display: flex;
    align-self: start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}
.item3-1{
    width: 260px;
    height: 360px;
    background-color: white;
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.579);
}
.item3-1 img{
    display: block;
    width: 250px;
    height: 250px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
#item3 h3{
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 20px;
}
#item4{
    width: 90vw;
    height: auto;
    background-color: #f5f2f0;
    padding-bottom: 50px;
    padding-left: 5vw;
    padding-right: 5vw;
}
#item4 p{
    margin-top: 5px;
    font-size: 17px;
}

#popup1{
    position: fixed;
    top: 25vh;
    left: 15vw;
    width: 70vw;
    height: 50vh;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.579);
    display: none;
}
#popup2{
    position: fixed;
    top: 25vh;
    left: 15vw;
    width: 70vw;
    height: 50vh;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.579);
    display: none;
}
#popup3{
    position: fixed;
    top: 25vh;
    left: 15vw;
    width: 70vw;
    height: 50vh;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.579);
    display: none;
}

#popup1 p,#popup2 p,#popup3 p{
    padding-top: 22vh;
    padding-left: 5vw;
    padding-right: 5vw;
    font-size: 30px;
    text-align: center;
}
#popup-close{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100000;
    background-color: #de652800;
    border: #de652800;
    font-size: 20px;
    cursor: pointer;
}